canvas {
    background-color: rgba(255, 255, 255, 0.825);
    backdrop-filter: blur(24px);
    border-radius: 12px;
    padding: 1.8rem 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .canvas-container {
    width: 100%;
    height: 100%;
    max-width: calc(100% - 9.2rem);
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel-canvas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    column-gap: 1.4rem;
  }
  
  .specific-activity-container {
    width: 100%;
    height: fit-content;
    align-items: center;
    column-gap: 1.4rem;
    background-color: rgba(255, 255, 255, 0.825);
    overflow: scroll;
    color: black;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5555555556rem;
    position: relative;
   /*  -ms-overflow-style: none; 
    scrollbar-width: none;   */
  }
  /* .specific-activity-container::-webkit-scrollbar {
    display: none;
  } */
  
  .carousel-control {
    min-width: 3.2rem;
    min-height: 3.2rem;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(24px);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }